type project
title
    ##why-use-fsharp##
owners
    ##Jose Hilario Almeida##
authors 
    ##Jose Hilario Almeida##
projectUrl
    https://github.com/josealmeida/nice-coding-bootstrap
iconUrl
    
licenseUrl
    
requireLicenseAcceptance
    false
copyright
    Copyright 2016
tags
    ##C Sharp, F Sharp##
summary
    ##NICE Coding Bootstrap##
description
    ##NICE Coding Bootstrap##


